body {
  color: white;
  background-color: black;
}

h1 {
  font-style: italic;
  color: red;
}

h2 {
  color: pink;
}

#about {
  margin-bottom: 1rem;
  padding: 2rem;
  text-align: left;
  font-weight: bold;
}

#work-experience li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

#skills {
  padding: 2rem;
  text-align: right;
}

#connect,
a {
  color: white;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  background-color: pink;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}
