/* Moblie first design */

body {
  color: white;
  background-color: black;
}

img {
  max-width: 100%;
  display: block;
  padding: 0.1em;
}

h1 {
  text-align: center;
  font-style: italic;
  color: white;
}

h2 {
  text-align: center;
  color: pink;
}

.navBars {
  position: sticky;
  top: 0;
  background-color: lightblue;
  border: 6px solid pink;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.navBar {
  flex: 1;
}

/* About me */

.aboutMeSummary {
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  /* width: 95%; */
}

/* Experinces section */

.Experiences {
  display: flex;
}

.exp {
  margin: 0 auto;
  padding: 0 0.5em;
}

.expComp {
  flex: 1;
  padding-bottom: 0.05em;
  font-weight: bold;
}

.expRole {
  font-style: italic;
}

.expDesc {
  color: bisque;
  padding: 1em;
  font-style: italic;
}

/* Skills section */

.flex-list {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0 auto;
  border: 2px solid pink;
  padding: 3rem 1.5em;
  display: flex;
  flex-wrap: wrap;
}

/* Projects section */

.pflex-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  gap: 10px;
  margin: 0 auto;
  border: 2px solid pink;
  padding: 3rem 1.5em;
}

.pflex-list li::before {
  content: " Repo: ";
  color: yellow;
}

.pflex-list li::after {
  content: " | ";
  color: red;
}

/* Research */

.crimeReg {
  color: white;
  margin: auto;
  padding: 0 20%;
}

/* Contact section */

.LinkedIn {
  display: flex;
}

.btn {
  padding: 0.75rem 1.25rem;
  background-color: pink;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  margin: 0 auto;
}

/* Handling Message Form */

#newMessage h2 {
  color: white;
}

#newMessage {
  background-color: palevioletred;
}

label,
input {
  text-align: center;
  display: block;
  margin: 20px auto;
}

#usersMessage {
  display: block;
  margin: 40px auto;
}

button {
  font-size: 20px;
  font-weight: 400;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
  cursor: pointer;
  transform-origin: center bottom;
  transition: all 0.1s ease-in;
}

button:hover {
  transform: scaley(1.05);
}

button:active {
  font-weight: 600;
  transform: scalex(1.1) scaley(0.98);
}

label,
button {
  display: block;
  margin: 20px auto;
}

/* Footer section */

.copyColor {
  font-style: italic;
  color: pink;
}

/* Banner section */

.addBanner {
  font-style: italic;
  color: black;
  background-color: lightblue;
  margin: 20px 0;
  padding: 20px 0;
}

/* ipad layout  */

@media (min-width: 30rem) {
  body {
    color: black;
    background-color: white;
  }

  h1 {
    color: pink;
  }

  h2 {
    text-align: center;
    color: green;
  }

  .expDesc {
    color: palevioletred;
    padding: 1em;
    font-style: italic;
  }

  img {
    margin: 0 auto;
  }

  .pflex-list {
    border: 2px solid pink;
  }
  .pflex-list li::before {
    color: blueviolet;
  }

  .pflex-list li::after {
    color: green;
  }

  .copyColor {
    font-style: italic;
    color: black;
  }

  .rvmBtn {
    color: black;
  }

  .crimeReg {
    color: black;
    margin: auto;
    padding: 0 30%;
  }
}

/*  desktop layout  */

@media (min-width: 40rem) {
  body {
    background-color: pink;
    color: black;
  }

  h1 {
    color: blueviolet;
  }

  .exp {
    margin: 0 auto;
    padding: 10px 3em;
  }

  .expDesc {
    color: brown;
  }

  .flex-list {
    border: 2px solid black;
    padding: 3rem 35em;
  }

  .pflex-list {
    margin: 0 auto;
    border: 2px solid black;
    padding: 3rem 30em;
  }

  .crimeReg {
    margin: auto;
    padding: 0 42%;
  }
}
