/* Moblie first design */

body {
  color: white;
  background-color: black;
}

img {
  max-width: 100%;
  display: block;
  padding: 0.1em;
}

h1 {
  text-align: center;
  font-style: italic;
  color: white;
}

h2 {
  text-align: center;
  color: pink;
}

.navBars {
  position: sticky;
  top: 0;
  background-color: lightblue;
  border: 6px solid pink;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.navBar {
  flex: 1;
}

/* About me */

.aboutMeSummary {
  text-align: left;
  margin: 0 auto;
  width: 90%;
}

/* Experinces section */

.Experiences {
  display: flex;
}

.exp {
  margin: 0 auto;
  padding: 0 0.5em;
}

.expComp {
  flex: 1;
  padding-bottom: 0.05em;
  font-weight: bold;
}

.expRole {
  font-style: italic;
}

.expDesc {
  padding: 1em;
}

/* Skills section */

.flex-list {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0 auto;
  border: 2px solid pink;  
  padding: 3rem 1.5em;

}

/* Contact section */

.LinkedIn {
  display: flex;
}

.btn {
  padding: 0.75rem 1.25rem;
  background-color: pink;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  margin: 0 auto;
}

/* ipad layout 
@media (min-width: 5em) {
  img {
    margin: 0 auto;
  }

  .aboutMeSummary {
    width: 50%;
  }

  .Experiences {
    width: 70rem;
  }
  .exp {
    margin: 0 auto;
    padding: 0 2rem;
  }

  .expComp {
    padding-top: 1rem;
  }

  .expRole {
    padding-bottom: 1rem;
  }

  .skill {
    text-align: left;
    margin: 0 auto;
     padding: 0 20em; 
    width: 30em; } 
}

 desktop layout 

@media (min-width: 85em) {
  body {
    background-color: pink;
    color: black;
  }
  h2 {
    color: lightblue;
    background-color: beige;
  }
  .aboutMeSummary {
    width: 30%;
  }
  .exp {
    margin: 0 auto;
    padding: 0 3rem;
  }
  .btn {
    background-color: black;
    color: white;
  }
}
