body {
  color: white;
  background-color: black;
  text-align: center;
}

#regressions-results {
  display: flex;
}

img {
  max-width: 100%;
  padding: 0.1em;
  width="550"
    height="auto"
}

.nav{
    color: white;
}